@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#loading {
    width: 1rem;
    height: 1rem;
    border: 5px solid black;
    border-top: 6px solid white;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

#loading {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgba(128, 125, 125, 0.15) rgba(255, 255, 255, 0.25) rgba(119, 116, 116, 0.35) rgba(121, 119, 119, 0.5);
    box-sizing: border-box;
    visibility: hidden;
    animation: rotation 1s linear infinite;
}
#loading.display{
      visibility: visible;
}
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
   }
} 
 

  

#loader2 {
    width: 185px;
    height: 210px;
    background:
        linear-gradient(0.25turn, transparent, #FFF, transparent),
        linear-gradient(#DDD, #DDD),
        linear-gradient(#DDD, #DDD),
        linear-gradient(#DDD, #DDD);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
    background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
    animation: loading 1.5s infinite;
    border-radius: 20px;
    display: none;
}

#loader2.display{
    display: block;
}
@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}
