@tailwind base;
@tailwind components;
@tailwind utilities;

#loading {
  width: 175px;
  height: 70px;
  display: block;
  margin: auto;
  background-image: radial-gradient(circle 25px at 25px 25px, #87c3fc 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #64a3df 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #32acf3 100%, transparent 0), linear-gradient(#4d9cdd 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  visibility: hidden;
}
#loading::after {
  content: '';  
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-color: #ffffff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
#loading.display{
  visibility: visible;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 







#loading2 {
  width: 175px;
  height: 70px;
  display: block;
  margin: auto;
  background-image: radial-gradient(circle 25px at 25px 25px, #cac8c8 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #d6d4d4 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #b3acac 100%, transparent 0), linear-gradient(#c9c3c3 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  visibility: hidden;
}
#loading2::after {
  content: '';  
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-color: rgb(38, 193, 245) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
#loading2.display{
  visibility: visible;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
